<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html') %>
  <title>
    index
  </title>
</head>

<body>
  <div class="carousel-demo">
    <div carousel-item>
      <div>
        <p class="layui-bg-green demo-carousel">在这里，你将以最直观的形式体验 layui！</p>
      </div>
      <div>
        <p class="layui-bg-red demo-carousel">在编辑器中可以执行 layui 相关的一切代码</p>
      </div>
      <div>
        <p class="layui-bg-blue demo-carousel">你也可以点击左侧导航针对性地试验我们提供的示例</p>
      </div>
      <div>
        <p class="layui-bg-orange demo-carousel">如果最左侧的导航的高度超出了你的屏幕</p>
      </div>
      <div>
        <p class="layui-bg-cyan demo-carousel">你可以将鼠标移入导航区域，然后滑动鼠标滚轮即可</p>
      </div>
    </div>
  </div>
  <div class="content">shang</div>
  <%= require('html-loader!./layout/foot-common.html') %>
</body>

</html>