<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html') %>
  <title>
    index
  </title>
</head>

<body>
  <div class="carousel-wrap">
    <!-- <ul class="carousel-content">
      <li>000</li>
      <li>000</li>
      <li>000</li>
      <li>000</li>
    </ul>
    <ul class="carousel-dot">
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <a href="carousel-prev"></a>
    <a href="carousel-next"></a> -->
  </div>
  <div class="content">
  </div>
  <%= require('html-loader!./layout/foot-common.html') %>
</body>

</html>