<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html') %>
  <title>
    index
  </title>
</head>

<body>
  <div class="carousel-wrap" id="carousel-01">
    <ul class="carousel-container">
      <li style="background: red">slider 01</li>
      <li style="background: blue">slider 02</li>
      <li style="background: red">slider 03</li>
      <li style="background: blue">slider 04</li>
    </ul>
  </div>
  <div class="content">
  </div>
  <%= require('html-loader!./layout/foot-common.html') %>
</body>

</html>